*,
*::before,
*::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

button{
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

body{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1650px;
    width:100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__row{
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    align-items: center;
} 

.header__logo{
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #263238;
    text-decoration: none;
}

.header__link{
    font-family:  "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #263238;
    text-decoration: none;
}

.header__link:hover{
    color: #008000;
}

.header__sign{
  font-family:  "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
    background-color: white;
    padding: 21px 44px;
    border: 1px solid #263238;
    border-radius: 10px;
}

.header__sign:hover{
    color: #008000;
    background-color: black;
}

.header__start{
    font-family:  "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background-color: #008000;
    padding: 21px 25px;
    border-radius: 10px;
}

.header__start:hover{
    color: #008000;
    background-color: lightblue;
}

.header__nav{
    display: flex;
    gap: 44px;
}

.home{
   padding-top: 67px;
   padding-bottom: 200px;
}

.home__content{
    max-width: 923px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.home__title{
    font-family:  "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: #263238;
    margin-bottom: 60px;
}

.home__title span{
    color: #008000;
}

.home__text{
    max-width: 725px;
    width: 100%;
    font-family:  "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #263238;
    margin: 0 auto 48px;
}

.home__button{
    position: absolute;
    z-index: 5;
    top: 6px;
    right: 6px;
    background-color: #008000  ;
    color: white;
    font-family:  "League Spartan", sans-serif;
    border-radius: 10px;
    padding: 22px 25px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
}

.home__input{
    width: 100%;
    font-family:  "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
    border-radius: 10px;
    padding: 28px 173px 28px 25px;
    display: block;
    background: rgba(38, 50, 56, 0.1);
    border: 0;
}

.home__input::placeholder {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
}

.home__form{
    position: relative;
    max-width: 533px;
    width: 100%;
    margin: 0 auto;
}

.brands__row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.brands__img{
    display: block;
    max-width: 100%;
}

span{
    color: #008000;
}

.works{
  padding: 200px 0;
}  
    
    .works__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0 100px;
    }
    
    .works__content{
        flex-basis: 574px;
    }
    
    .works__title{
        font-family: "League Spartan", sans-serif;
        font-weight: 700;
        font-size: 64px;
        color: #263238;
        margin-bottom: 32px;
    }
    
    .works__title span {
        color: #008000;
    }
    
    .works__text{
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #263238;
        margin-bottom: 48px;
    }
    
    .works__body {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .works__item {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    .works__info-title {
        font-family: "League Spartan", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #263238;
        margin-bottom: 16px;
    }
    
    .works__info-text {
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.8;
        color: #263238;
    }
    
    .works__icon {
        flex-shrink: 0;
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 128, 0, 0.1);
        border-radius: 50%;
    }

    .works__image img{
        display: block;
        max-width: 100%;
    }
    
.pathway__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.pathway__title{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #263238;
    margin-bottom: 32px;
}

.pathway__text{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #263238;
    margin-bottom: 48px;
    line-height: 177%;
}

.pathway__options{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pathway__option{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #263238;
    background-color: rgba(0, 128, 0, 0.05);
    padding: 24px 54px 24px 30px;
    position: relative;
}

.pathway__option::after{
    content: url(../img/works/arrow-down.svg);
    position: absolute;
    top: 33px;
    right: 30px;
}

.pathway__image img{
    display: block;
    max-width: 100%;
}

.pathway__content{
    max-width: 600px;
}

.choose{
   padding: 200px 0;
}

.choose__row{
    display: flex;
    justify-content: space-between; 
}

.choose__content{
     max-width: 563px;
}

.choose__title{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #263238;
    margin-bottom: 32px;
}

.choose__text{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
    margin-bottom: 48px;
}

.choose__item{
    display: flex;
    gap: 50px;
    align-items: center;
}

.choose__list{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 69px;
}

.choose__number{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color:  rgba(0, 128, 0, 0.1);
    justify-content: center;
    align-items: center;

    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #008000;
}

.choose__description{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
}

.choose__button{
    font-family: "League Spartan", sans-serif;
    border-radius: 10px;
    padding: 22px 55px;
    color: white;
    background-color: #008000;
    font-weight: 500;
    font-size: 18px;
}
.choose{
   padding: 200px 0;
}

.choose__row{
    display: flex;
    justify-content: space-between; 
}

.choose__content{
     max-width: 563px;
}

.choose__title{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #263238;
    margin-bottom: 32px;
}

.choose__text{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
    margin-bottom: 48px;
}

.choose__item{
    display: flex;
    gap: 50px;
    align-items: center;
}

.choose__list{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 69px;
}

.choose__number{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color:  rgba(0, 128, 0, 0.1);
    justify-content: center;
    align-items: center;

    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #008000;
}

.choose__description{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
}

.choose__button{
    font-family: "League Spartan", sans-serif;
    border-radius: 10px;
    padding: 22px 55px;
    color: white;
    background-color: #008000;
    font-weight: 500;
    font-size: 18px;
}

.choose__img img{
    display: block;
    max-width: 100%;
}

.customer__title{
    font-family: "League Spartan", sans-serif;  
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: #263238;
    margin-bottom: 32px;
}

.customer__text{
    font-family: "League Spartan", sans-serif;  
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    text-align: center;
    color: #263238;
    margin-bottom: 48px;
}

.customer__row{
    display: flex;
    flex-wrap:wrap ;
    gap: 48px;
}

.customer__item{
    flex: 0 1 calc(50% - 48px);
    display: flex;
}

.customer__info{
    background: rgba(0, 128, 0, 0.05);
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.customer__description{
    font-family: "League Spartan", sans-serif;  
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
    flex-grow: 1;
}

.customer__name{
    font-family: "League Spartan", sans-serif;  
    font-weight: 600;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
}

.customer__button{
    font-family: "League Spartan", sans-serif;
    color: #fff;
    background-color: #008000;
    font-weight: 500;
    font-size: 18px;

    border-radius: 10px;
    padding: 22px 70px;
    margin: 0 auto;
}

.download{
    padding-top: 200px;
    padding-bottom: 200px;
}

.download__body{
    border-radius: 20px;
    padding: 72px 0 66px;
    background: rgba(0, 128, 0, 0.05);
    margin: 0 auto;
    max-width: 1406px;
}

.download__title{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #263238;
    max-width: 768px;
    margin: 0 auto 48px;
}

.download__img {
    display: block;
    max-width: 100%;
}

.download__market{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer{
    background: rgba(242, 248, 242, 0.5);
    padding: 68px 0 56px;
}

.footer__main{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(38, 50, 56, 0.31);
    margin-bottom: 56px;
}

.footer__logo{
    margin-bottom: 24px;
}

.footer__text{
    margin-bottom: 24px;
}

.footer--expirience{
    flex-basis: 352px;
}

.footer--form{
    flex-basis: 533px;
}

.footer--social{
    flex-basis: 176px;
}

.footer--call{
    flex-basis: 139px;
}

.footer__text{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #263238;
    max-width: 433px;
}

.footer__button{
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.footer__title{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #263238;
}

.footer__social{
    display: flex;
    align-items:center ;
    gap: 10px;
}

.footer__item{
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
   background-color: #008000;
}

.footer__title{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #263238;
    margin-bottom: 24px;
}

.footer__number{
    font-family: "Roboto", sans-serif ;
    font-weight: 400;
    font-size: 16px;
    color: #263238;
}

.footer__input{
    width: 100%;
    display: block;
    background: rgba(38, 50, 56, 0.1);
    border-radius: 10px;
    padding: 28px 151px 28px 25px;
    font-family: 18px;
    font-weight: 500;
    color: #263238;
    border: 0;
    font-family: "League Spartan", sans-serif;
}

.footer__form{
    position: relative;
}

.footer__input::placeholder{
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
}

.footer__button{
    position: absolute;
    top: 50%;
    right: 6px;
    z-index: 5;
    font-weight: 500;
    color: #fff;
    padding: 22px 25px;
    background: #008000;
    border-radius: 10px;
    font-size: 18px;
    transform: translateY(-50%);
    font-family: "League Spartan", sans-serif;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
}

.footer__link{
    font-weight: 400;
    font-size: 14px;
    color: #263238;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}

.footer__nav{
    display: flex;
    gap: 40px;
}

.wrapper{
    min-width: 320px;
    overflow: hidden;
}

.navToggle{
    display: none;
}

@media (max-width: 1440px) {
    .works__row{
        padding: 0;
    }
}

@media (max-width: 1200px) {
    .customer__row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .header__nav {
        display: none;
    }

    .header__clients{
        display: none;
    }

    .navToggle{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    .navToggle span {
        width: 40px;
        height: 2px;
        background-color: #000;
    }

    .works__row{
        flex-direction: column;
        align-items: column;
    }

    .works__content{
        flex-basis: 100%;
    }

    .pathway__row{
        flex-direction: column;
        align-items: column;
    }

    .pathway__content{
        flex-basis: 100%;
    }

    .choose__row{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .choose__content{
        flex-basis: 100%;
    }

    .footer__main{
        flex-wrap: wrap;
        gap: 35px 10px;
    }

    .footer__column{
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 768px) {

    .header__row{
        padding: 35px 0;
    }

    .home__title{
        font-size: 38px;
        margin-bottom: 20px;
    }

    .home__text{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .home{
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .brands__row{
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .brand__item{
        flex: 0 1 calc(50% - 10px);
        display: flex;
        justify-content: center;
    }

    .works__title{
        font-size: 38px;
    }

    .works__item{
        gap: 10px;
    }

    .works__icon{
        width: 90px;
        height: 90px;
    }

    .works{
        padding: 40px 0;
    }

    .pathway__title{
        font-size: 38px;
    }

    .choose__title{
        font-size: 38px;
    }

    .customer__title{
        font-size: 38px;
    }

    .download__title{
        font-size: 38px;
    }

    .choose{
        padding: 40px 0;
    }
    
    .download{
        padding: 40px 0;
    }

    .footer{
        padding: 40px 0;
    }

    .footer__main{
        padding-bottom: 35px;
    }

    .footer__bottom{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__nav{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 620px) {
    .customer__item {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .download__title{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .footer__column{
        flex: 1 1 100%;
    }
}

@media (max-width: 420px) {
    .home__button{
        position: static;
        width: 100%;
    }

    .home__title{
        font-size: 32px;
    }

    .home__text{
        font-size: 14px;
    }
}

